<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h1>Zaloguj się</h1>

    <div style="margin-bottom: 15px;">

        <div th:if="${param.error}" style="color: red;">
            Błędny login lub hasło!
        </div>

        <div th:if="${param.logout}" style="color: green;">
            Zostałeś pomyślnie wylogowany.
        </div>

        <div th:if="${param.expired}" style="color: orange; font-weight: bold;">
            Twoja sesja wygasła! Zaloguj się ponownie.
        </div>

    </div>
    <form th:action="@{/login}" method="post">
        <label>Login: <input type="text" name="username" required/></label><br><br>
        <label>Hasło: <input type="password" name="password" required/></label><br><br>
        <button type="submit">Zaloguj</button>
    </form>

    <br>
    <a href="/register">Rejestracja</a>
</div>
</body>
</html>